{% extends 'base/main_admin_base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block title %} Notifications
{% endblock title %}
{% block headercss %}
    <link rel="stylesheet" href="{% static '' %}tfcss/admin_panel/mainTF/notification.css"/>
{% endblock headercss %}
{% block content %}

    <main class="mb-5">
        <div class="container">
            <div class="row my-3">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h3 class="text-uppercase">send Notification</h3>
                    {% comment %}<textarea required name="notification" id="" cols="10" rows="10" placeholder="write here"
                              style="height:60px; width:95%; margin-inline-start: 1rem;"
                              class="sendNotification"></textarea>
                    <span class="d-none text-danger fw-bolder sendError">Notification cannot be empty!</span>
                    <div class="row my-3">
                        <div class="col-md-3">
                            <select name="target" class="form-select" aria-label="Default select" required>
                                <option disabled>Select target users</option>
                                <option value="bcs">Business User</option>
                                <option value="pcs">Personal User</option>
                            </select>
                        </div>{% endcomment %}

                    {{ form|crispy }}

                    <div class="">
                        <button name="instant-btn" class="btn btn-primary fw-bolder text-uppercase float-end sendBtn"
                                type="submit">
                            send
                        </button>
                    </div>
                </form>
            </div>
            {% comment %}
            <div class="row my-3">
                <h3 class="text-uppercase">auto Notification</h3>
                <hr class="my-4"/>
                <h5 class="text-uppercase mb-3">create notification</h5>
                <textarea name="send-notification" id="" cols="30" rows="10" placeholder="write here"
                          style="height:60px; width:95%; margin-inline-start: 1rem;" class="addNotification"></textarea>
                <span class="d-none text-danger addError fw-bolder">Notification cannot be empty!</span>
                <div class="row my-3">
                    <div class="col-md-3">
                        <select class="form-select" aria-label="Default select">
                            <option>Select target users</option>
                            <option value="">New User</option>
                            <option value="">New Subscribe User</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" aria-label="Default select">
                            <option>
                                Select target users by interest list
                            </option>
                            <option value="">Concierge Cybersecurity</option>
                            <option value="">Security Compliance</option>
                            <option value="">Training Program</option>
                        </select>
                    </div>
                    <div class="col-md-5 d-flex align-center">
                        <label for="notificationRange" class="notificationRange">Select Date & time: </label>
                        <input type="datetime-local" class="form-control" placeholder="Select a Date and Time"
                               id="notificationRange"/>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary text-uppercase float-end addBtn">
                            add
                        </button>
                    </div>
                </div>
            </div>
            {% endcomment %}
            <div class="row">
                <div class="col-md-12">
                    <table class="table notification-table" id="notification-table">
                        <thead class="text-center text-uppercase">
                        <tr>
                            <th>notification text</th>
                            <th>target user</th>
                            <th>time</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for notification in notifications %}
                            <tr class="">
                                <td>{{ notification.notification }}</td>
                                <td>{{ notification.category_choice|upper }}</td>
                                <td class="text-center">{{ notification.notification_time }}</td>
                                <td>
                                    <a href="" class="btn">
                                        <i class="icofont-edit text-primary rounded-circle activites-icon"></i>
                                        Edit
                                    </a>
                                    <a href="{% host_url 'main_admin_notification_delete' %}{{ notification.id }}" class="btn dlt">
                                        <i class="bi bi-trash-fill text-danger rounded-circle activites-icon"></i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="edit-notification modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title w-85 text-center" id="exampleModalLabel">
                            Edit Notification
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="cotainer">
                            <form action="">
                                <div class="row my-3">
                                    <h5>Notification Text</h5>
                                    <textarea name="send-notification" id="" cols="50" rows="5"
                                              placeholder="write here"></textarea>
                                    <div class="row my-3">
                                        <div class="col-md-3">
                                            <select class="form-select" aria-label="Default select">
                                                <option>Select target users</option>
                                                <option value="">New User</option>
                                                <option value="">New Subscribe User</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-select" aria-label="Default select">
                                                <option>
                                                    Select target users by interest list
                                                </option>
                                                <option value="">Concierge Cybersecurity</option>
                                                <option value="">Security Compliance</option>
                                                <option value="">Training Program</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 d-flex align-center">
                                            <label for="notificationRange" class="notificationRange">Select Date &
                                                time: </label>
                                            <input type="datetime-local" class="form-control"
                                                   placeholder="Select a Date and Time"
                                                   id="notificationRange"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <button type="button" class="btn btn-primary">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %} {% block customjs %}
    <script src="{% static '' %}tfjs/admin_panel/mainTF/notification.js"></script>

{% endblock customjs %}