{% extends 'base/main_admin_base.html' %} {% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block title %} My Profile
{% endblock title %} {% block headercss %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static '' %}tfcss/admin_panel/mainTF/support.css"/>
    <style>
        .select2-container {
            width: 100% !important;
        }

        .select2-selection__rendered {
            line-height: 31px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
            border: 1px solid #ced4da;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"/> -->
{% endblock headercss %}
{% block content %}

    <main>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-2">
                    <div class="panel-box blue1">
                        <h2>All STAFF</h2>
                        <div class="panel-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34.5" height="34.5" viewBox="0 0 34.5 34.5">
                                <g id="user_icon" data-name="user icon" transform="translate(-853 -223)">
                                    <path id="Path_8" data-name="Path 8"
                                          d="M33.75,33.75H31.5V28.125A5.632,5.632,0,0,0,25.875,22.5V20.25a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(853.75 223.75)" fill="#fff"/>
                                    <path id="Path_9" data-name="Path 9"
                                          d="M24.75,33.75H22.5V28.125A5.632,5.632,0,0,0,16.875,22.5h-6.75A5.632,5.632,0,0,0,4.5,28.125V33.75H2.25V28.125a7.884,7.884,0,0,1,7.875-7.875h6.75a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(850.75 223.75)" fill="#fff"/>
                                    <path id="Path_10" data-name="Path 10"
                                          d="M22.5,2.25V4.5a5.625,5.625,0,0,1,0,11.25V18a7.875,7.875,0,1,0,0-15.75Z"
                                          transform="translate(853.75 220.75)" fill="#fff"/>
                                    <path id="Path_11" data-name="Path 11"
                                          d="M13.5,4.5a5.625,5.625,0,1,1-5.625,5.625A5.625,5.625,0,0,1,13.5,4.5m0-2.25a7.875,7.875,0,1,0,7.875,7.875A7.875,7.875,0,0,0,13.5,2.25Z"
                                          transform="translate(850.75 220.75)" fill="#fff"/>
                                </g>
                            </svg>
                            <p>{{ admin_list.count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel-box blue2">
                        <h2>sales head</h2>
                        <div class="panel-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34.5" height="34.5" viewBox="0 0 34.5 34.5">
                                <g id="user_icon" data-name="user icon" transform="translate(-853 -223)">
                                    <path id="Path_8" data-name="Path 8"
                                          d="M33.75,33.75H31.5V28.125A5.632,5.632,0,0,0,25.875,22.5V20.25a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(853.75 223.75)" fill="#fff"/>
                                    <path id="Path_9" data-name="Path 9"
                                          d="M24.75,33.75H22.5V28.125A5.632,5.632,0,0,0,16.875,22.5h-6.75A5.632,5.632,0,0,0,4.5,28.125V33.75H2.25V28.125a7.884,7.884,0,0,1,7.875-7.875h6.75a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(850.75 223.75)" fill="#fff"/>
                                    <path id="Path_10" data-name="Path 10"
                                          d="M22.5,2.25V4.5a5.625,5.625,0,0,1,0,11.25V18a7.875,7.875,0,1,0,0-15.75Z"
                                          transform="translate(853.75 220.75)" fill="#fff"/>
                                    <path id="Path_11" data-name="Path 11"
                                          d="M13.5,4.5a5.625,5.625,0,1,1-5.625,5.625A5.625,5.625,0,0,1,13.5,4.5m0-2.25a7.875,7.875,0,1,0,7.875,7.875A7.875,7.875,0,0,0,13.5,2.25Z"
                                          transform="translate(850.75 220.75)" fill="#fff"/>
                                </g>
                            </svg>

                            <p>{{ sales_head.count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel-box blue3">
                        <h2>sales</h2>
                        <div class="panel-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34.5" height="34.5" viewBox="0 0 34.5 34.5">
                                <g id="user_icon" data-name="user icon" transform="translate(-853 -223)">
                                    <path id="Path_8" data-name="Path 8"
                                          d="M33.75,33.75H31.5V28.125A5.632,5.632,0,0,0,25.875,22.5V20.25a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(853.75 223.75)" fill="#fff"/>
                                    <path id="Path_9" data-name="Path 9"
                                          d="M24.75,33.75H22.5V28.125A5.632,5.632,0,0,0,16.875,22.5h-6.75A5.632,5.632,0,0,0,4.5,28.125V33.75H2.25V28.125a7.884,7.884,0,0,1,7.875-7.875h6.75a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(850.75 223.75)" fill="#fff"/>
                                    <path id="Path_10" data-name="Path 10"
                                          d="M22.5,2.25V4.5a5.625,5.625,0,0,1,0,11.25V18a7.875,7.875,0,1,0,0-15.75Z"
                                          transform="translate(853.75 220.75)" fill="#fff"/>
                                    <path id="Path_11" data-name="Path 11"
                                          d="M13.5,4.5a5.625,5.625,0,1,1-5.625,5.625A5.625,5.625,0,0,1,13.5,4.5m0-2.25a7.875,7.875,0,1,0,7.875,7.875A7.875,7.875,0,0,0,13.5,2.25Z"
                                          transform="translate(850.75 220.75)" fill="#fff"/>
                                </g>
                            </svg>

                            <p>{{ sales.count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel-box blue4">
                        <h2>blogger</h2>
                        <div class="panel-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34.5" height="34.5" viewBox="0 0 34.5 34.5">
                                <g id="user_icon" data-name="user icon" transform="translate(-853 -223)">
                                    <path id="Path_8" data-name="Path 8"
                                          d="M33.75,33.75H31.5V28.125A5.632,5.632,0,0,0,25.875,22.5V20.25a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(853.75 223.75)" fill="#fff"/>
                                    <path id="Path_9" data-name="Path 9"
                                          d="M24.75,33.75H22.5V28.125A5.632,5.632,0,0,0,16.875,22.5h-6.75A5.632,5.632,0,0,0,4.5,28.125V33.75H2.25V28.125a7.884,7.884,0,0,1,7.875-7.875h6.75a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(850.75 223.75)" fill="#fff"/>
                                    <path id="Path_10" data-name="Path 10"
                                          d="M22.5,2.25V4.5a5.625,5.625,0,0,1,0,11.25V18a7.875,7.875,0,1,0,0-15.75Z"
                                          transform="translate(853.75 220.75)" fill="#fff"/>
                                    <path id="Path_11" data-name="Path 11"
                                          d="M13.5,4.5a5.625,5.625,0,1,1-5.625,5.625A5.625,5.625,0,0,1,13.5,4.5m0-2.25a7.875,7.875,0,1,0,7.875,7.875A7.875,7.875,0,0,0,13.5,2.25Z"
                                          transform="translate(850.75 220.75)" fill="#fff"/>
                                </g>
                            </svg>

                            <p>{{ blogger.count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel-box blue4">
                        <h2>bcs head</h2>
                        <div class="panel-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34.5" height="34.5" viewBox="0 0 34.5 34.5">
                                <g id="user_icon" data-name="user icon" transform="translate(-853 -223)">
                                    <path id="Path_8" data-name="Path 8"
                                          d="M33.75,33.75H31.5V28.125A5.632,5.632,0,0,0,25.875,22.5V20.25a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(853.75 223.75)" fill="#fff"/>
                                    <path id="Path_9" data-name="Path 9"
                                          d="M24.75,33.75H22.5V28.125A5.632,5.632,0,0,0,16.875,22.5h-6.75A5.632,5.632,0,0,0,4.5,28.125V33.75H2.25V28.125a7.884,7.884,0,0,1,7.875-7.875h6.75a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(850.75 223.75)" fill="#fff"/>
                                    <path id="Path_10" data-name="Path 10"
                                          d="M22.5,2.25V4.5a5.625,5.625,0,0,1,0,11.25V18a7.875,7.875,0,1,0,0-15.75Z"
                                          transform="translate(853.75 220.75)" fill="#fff"/>
                                    <path id="Path_11" data-name="Path 11"
                                          d="M13.5,4.5a5.625,5.625,0,1,1-5.625,5.625A5.625,5.625,0,0,1,13.5,4.5m0-2.25a7.875,7.875,0,1,0,7.875,7.875A7.875,7.875,0,0,0,13.5,2.25Z"
                                          transform="translate(850.75 220.75)" fill="#fff"/>
                                </g>
                            </svg>

                            <p>{{ bcs_head.count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel-box blue4">
                        <h2>pcs head</h2>
                        <div class="panel-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34.5" height="34.5" viewBox="0 0 34.5 34.5">
                                <g id="user_icon" data-name="user icon" transform="translate(-853 -223)">
                                    <path id="Path_8" data-name="Path 8"
                                          d="M33.75,33.75H31.5V28.125A5.632,5.632,0,0,0,25.875,22.5V20.25a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(853.75 223.75)" fill="#fff"/>
                                    <path id="Path_9" data-name="Path 9"
                                          d="M24.75,33.75H22.5V28.125A5.632,5.632,0,0,0,16.875,22.5h-6.75A5.632,5.632,0,0,0,4.5,28.125V33.75H2.25V28.125a7.884,7.884,0,0,1,7.875-7.875h6.75a7.884,7.884,0,0,1,7.875,7.875Z"
                                          transform="translate(850.75 223.75)" fill="#fff"/>
                                    <path id="Path_10" data-name="Path 10"
                                          d="M22.5,2.25V4.5a5.625,5.625,0,0,1,0,11.25V18a7.875,7.875,0,1,0,0-15.75Z"
                                          transform="translate(853.75 220.75)" fill="#fff"/>
                                    <path id="Path_11" data-name="Path 11"
                                          d="M13.5,4.5a5.625,5.625,0,1,1-5.625,5.625A5.625,5.625,0,0,1,13.5,4.5m0-2.25a7.875,7.875,0,1,0,7.875,7.875A7.875,7.875,0,0,0,13.5,2.25Z"
                                          transform="translate(850.75 220.75)" fill="#fff"/>
                                </g>
                            </svg>

                            <p>{{ pcs_head.count }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading d-flex justify-content-between">
                <h2>SUPPORT TEAM MEMBERS</h2>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Support
                    Stuff
                </button>
            </div>
            <div class="table-container">
                <table class="shadow-table">
                    <thead>
                    <tr class="head-row">
                        <th>Name</th>
                        <th>Admin Type</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for admin in admin_list %}
                        <tr class="data-row">
                            <td>
                                <a href="" class="staff-link">{{ admin.full_name }}</a>
                            </td>
                            {% if admin.is_sales_head %}
                                <td>Sales Head</td>
                            {% elif admin.is_sales %}
                                <td>Sales</td>
                            {% elif admin.is_blogger %}
                                <td>Blogger</td>
                            {% elif admin.is_bcs_head %}
                                <td>BCS Head</td>
                            {% elif admin.is_pcs_head %}
                                <td>PCS Head</td>
                            {% elif admin.is_superuser %}
                                <td>Superuser</td>
                            {% endif %}

                            <td><a href="">Edit</a></td>
                            <td><a href="{% host_url 'main_admin_support_delete_view' id=admin.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}


                    {#                    <tr class="data-row">#}
                    {#                        <td>#}
                    {#                            <a href="support_staff.html" class="staff-link">Azharul</a>#}
                    {#                        </td>#}
                    {#                        <td>3</td>#}
                    {#                        <td>30 minutes ago</td>#}
                    {#                        <td>2</td>#}
                    {#                        <td>20 minutes ago</td>#}
                    {#                        <td>#}
                    {#                            Active#}
                    {#                            <i class="bi bi-circle-fill" style="color: #5bbc2e; font-size: 10px"></i>#}
                    {#                        </td>#}
                    {#                        <td>bcs</td>#}
                    {#                        <td>hack recovery</td>#}
                    {#                        <td>#}
                    {#                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">#}
                    {#                                <g id="ticket" transform="translate(0 0)">#}
                    {#                                    <path id="Path_50" data-name="Path 50"#}
                    {#                                        d="M15.918,5.383,15.9,5.371,13.946,3.413a.979.979,0,0,1-1.357-1.358L10.618.083a.283.283,0,0,0-.4,0L.083,10.218h0a.282.282,0,0,0,0,.4h0l1.972,1.97a.979.979,0,0,1,1.358,1.357L5.36,15.89a.235.235,0,0,0,.023.028.282.282,0,0,0,.4,0h0L15.918,5.781a.282.282,0,0,0,0-.4Zm-2.234.4-7.9,7.9a.282.282,0,0,1-.4,0L2.318,10.618a.282.282,0,0,1,0-.4l7.9-7.9a.282.282,0,0,1,.4,0l3.066,3.066a.282.282,0,0,1,0,.4Z" />#}
                    {#                                    <path id="Path_51" data-name="Path 51"#}
                    {#                                        d="M22.292,18.548l-2.456-1.173.3-2.568a.185.185,0,0,0-.314-.152L17.986,16.49l-2.4-1.144a.184.184,0,0,0-.246.245l1.144,2.4-1.835,1.835a.184.184,0,0,0,.151.313l2.568-.3,1.174,2.456a.185.185,0,0,0,.345-.035l.673-2.691,2.692-.674a.187.187,0,0,0,.139-.161.185.185,0,0,0-.1-.184Z"#}
                    {#                                        transform="translate(-10.353 -10.353)" />#}
                    {#                                </g>#}
                    {#                            </svg> 56458#}
                    {#                        </td>#}
                    {#                    </tr>#}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Add Support Stuff</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" class="d-flex flex-column gap-3">
                            <select required name="user_email" id=""
                                    class="js-example-basic-single form-control form-select">
                                <option selected disabled>------------</option>
                                {% for user_list in user_lists %}
                                    <option value="{{ user_list.email }}">{{ user_list.email }}</option>
                                {% endfor %}
                            </select>
                            <select required name="user_permission" id=""
                                    class="form-control form-select">
                                <option selected disabled>------------</option>
                                <option value="sales_head">Sales Head</option>
                                <option value="sales">Sales</option>
                                <option value="blogger">Blogger</option>
                                <option value="bcs_head">BCS Head</option>
                                <option value="pcs_head">PCS Head</option>
                            </select>
                            {#                            {{ permission_form|crispy }}#}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add Stuff</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %} {% block customjs %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                dropdownParent: $("#exampleModal")
            })
        });
    </script>
    <script src="{% static '' %}tfjs/admin_panel/mainTF/eventWebinar.js"></script>
    <!-- <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script> -->
{% endblock customjs %}