{% load static %}{% load hosts %}
<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% block meta %} {% endblock meta %}

    <title>
        {% block title %} {% endblock title %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'img/Techforing-Icon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> {% block headercss %} {% endblock headercss %}
    <link rel="stylesheet" href="{% static 'tfcss/blog/style.css' %}">
</head>

<body>

    <!-- Header Start -->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static '' %}tfimg/blog/logo.png" width="125" height="60" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item pe-3">
                            <a class="nav-link" href="{% host_url 'home' host 'blog' %}">HOME</a>
                        </li>
                        <li class="nav-item pe-3">
                            <a class="nav-link" href="{% host_url 'category' host 'blog' %}articles">ARTICLES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% host_url 'category' host 'blog' %}case_studies">CASE STUDIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% host_url 'category' host 'blog' %}podcast">PODCAST</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-xl px-0 position-relative">
        {% block content %} {% endblock content %}
        <button type="button" id="btn-back-to-top" class="btn" title="Back to top">
            <i class="bi bi-arrow-up"></i>
        </button>
    </main>

    <footer>

        <div class="bg-blue p-2 pt-4 p-md-5 pb-md-2">
            <div class="d-flex justify-content-center mb-4">
                <a href="" class="me-5">PRIVACY POLICY</a>
                <a href="">TERMS OF USE</a>
            </div>
            <div class="d-flex justify-content-center align-items-center pb-4">
                <a href="https://www.facebook.com/techforing/">
                    <img src="{% static '' %}tfimg/user_panel/facebook.png" class="me-3" alt="">
                </a>
                <a href="https://www.linkedin.com/company/techforingltd./">
                    <img src="{% static '' %}tfimg/user_panel/linkedin.png" class="me-3" alt="">
                </a>
                <a href="https://twitter.com/techforingltd?lang=en">
                    <img src="{% static '' %}tfimg/user_panel/twitter.png" class="me-3" alt="">
                </a>
                <a href="https://www.instagram.com/techforingltd/">
                    <img src="{% static '' %}tfimg/user_panel/Instagram.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer-down">
            <div class="d-flex flex-wrap justify-content-center justify-content-md-around">
                <div>
                    <a href="{% url 'account_login' %}" target="_blank" class="copyright-btn">Create an account or
                    login<i class="bi bi-arrow-right"></i></a>
                </div>
                <div>
                    <p class="mt-5 mt-md-0 footer-text">Copyright &copy; 2021 Techforing Ltd.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="{% static 'tfjs/footer.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script>
        let links = ['home', 'articles', 'case_studies', 'podcast'];
        let linkItems = document.querySelectorAll('.navbar-nav .nav-link');
        let url = window.location.href;
        let linkFound = false;
        links.forEach((item, index) => {
            if (url.includes(item)) {
                linkItems[index].classList.add('active');
                linkFound = true;
            }
        });

        if (!linkFound)
            linkItems[0].classList.add('active');


        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction();
        };

        function scrollFunction() {
            if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        const deleteBtn = document.querySelectorAll(".trash, .dlt")
        deleteBtn.forEach(btn => {
            btn.addEventListener("click", () => {
                btn.parentElement.parentElement.parentElement.style.display = "none"
            })
        })
    </script>
    {% block customjs %} {% endblock customjs %}
</body>

</html>