{% extends 'base/base.html' %} {% load static %} {% load hosts %} {% block title %} Find Us {% endblock title %} {% block headercss %}
<link rel="stylesheet" href="{% static '' %}tfcss/telephone.css" />
<link rel="stylesheet" href="{% static '' %}tfcss/style.css" /> {% endblock headercss %} {% block content %}
<section class="find-banner">
    <div class="container">
        <h2>find us</h2>
    </div>
</section>

<section class="trust-main">
    <div class="container">
        <h2>get in touch</h2>
        <p class="mt-1">We would love to secure your Cyberspace</p>
    </div>
</section>
<section class="find-tab-section find-tab-lg">
    <div class="tab-list">
        <div class="container">
            <ul>
                <li>
                    <p class="tab-link link-active link-lg">america</p>
                </li>
                <li>
                    <p class="tab-link link-lg">europe</p>
                </li>
                <li>
                    <p class="tab-link link-lg">middle east</p>
                </li>
                <li>
                    <p class="tab-link link-lg">South Asia</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="tab-box default-tab tab-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="find-img">
                        <img src="{% static '' %}tfimg/findus/usa.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="find-add">
                        <h2>Contact Details</h2>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> 703 Old Town Road, Holland, MI, 49424, USA
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +1 616 795 9535
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-box tab-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="find-img">
                        <img src="{% static '' %}tfimg/findus/uk.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="find-add">
                        <h2>Contact Details</h2>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> Kemp House, 160 City Road, London
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +1 616 795 9535
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-box tab-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="find-img">
                        <img src="{% static '' %}tfimg/findus/turkey.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="find-add">
                        <h2>Contact Details</h2>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> Kampyolu Caddesi, Kartal, Istanbul, Turkey
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +905523376330
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-box tab-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="find-img">
                        <img src="{% static '' %}tfimg/findus/bd.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="find-add">
                        <h2>Contact Details</h2>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> Building 2, Road 1, Janata Housing Society, Mohammadpur, Dhaka
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +8801318205754
                        </p>
                        <p class="d-flex">
                            <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="find-tab-section find-tab-sm">
    <div class="tab-list">
        <div class="container">
            <ul>
                <li>
                    <p class="tab-link link-active link-sm">america</p>
                    <div class="tab-box default-tab tab-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="find-img">
                                    <img src="{% static '' %}tfimg/findus/usa.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="find-add">
                                    <h2>Contact Details</h2>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> 703 Old Town Road, Holland, MI, 49424, USA
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +1 616 795 9535
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="tab-link link-sm">europe</p>
                    <div class="tab-box tab-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="find-img">
                                    <img src="{% static '' %}tfimg/findus/uk.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="find-add">
                                    <h2>Contact Details</h2>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> Kemp House, 160 City Road, London
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +1 616 795 9535
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="tab-link link-sm">middle east</p>
                    <div class="tab-box tab-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="find-img">
                                    <img src="{% static '' %}tfimg/findus/turkey.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="find-add">
                                    <h2>Contact Details</h2>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> Kampyolu Caddesi, Kartal, Istanbul, Turkey
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +905523376330
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="tab-link link-sm">South Asia</p>
                    <div class="tab-box tab-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="find-img">
                                    <img src="{% static '' %}tfimg/findus/bd.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="find-add">
                                    <h2>Contact Details</h2>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/address@1X.png" alt="" /> Building 2, Road 1, Janata Housing Society, Mohammadpur, Dhaka
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/phone-numbers-call@1X.png" alt="" /> +8801318205754
                                    </p>
                                    <p class="d-flex">
                                        <img src="{% static '' %}tfimg/findus/email (1)@1X.png" alt="" /> info@techforing.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="d-none">
    <!-- Get Response Form -->
    <form id="form-res" method="post" action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8">
        <input type="text" name="email" id="email-res" required/>
        <!-- List token -->
        <input type="hidden" name="campaign_token" value="oX2GR" />
        <input type="hidden" name="thankyou_url" value="https://techforing.com/pages/thanks.html" />
        <input type="hidden" name="start_day" value="0" />
    </form>
</div>
<section class="find-form">
    <div class="container">
        <h2 class="notify"></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="find-form-img">
                    <img src="{% static '' %}tfimg/findus/message us 2.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="fu-form">
                    <form id="myForm" method="POST" action="">
                        {% csrf_token %}
                        <h2>Want to get in touch? </h2>
                        <p>Share your quries in the form below and your request will be directed to the right person</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="fu-input-box">
                                    <label for="firstname">First name</label>
                                    <input type="text" name="first_name" id="firstname" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="fu-input-box">
                                    <label for="lastname">Last name</label>
                                    <input type="text" name="last_name" id="lastname" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="fu-input-box">
                                    <label for="phone">Phone</label>
                                    <input type="tell" name="custom_phone" id="phone" value="+1" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="fu-input-box">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" onchange="emailValue()" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="fu-input-box">
                                    <label for="message">Message</label>
                                    <textarea name="custom_comment" id="message" required></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="submit-btn">Submit</button>
                    </form>
                    {% comment %} <button id="submit-btn" type="submit" value="send an email">Submit</button> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} {% block customjs %}
<script src="{% static '' %}tfjs/career.js"></script>
<script src="{% static '' %}tfjs/find.js"></script>
<script src="{% static '' %}js/telephone.js"></script>
<script>
    var input = document.querySelector("#phone");
    intlTelInput(input, {
        utilsScript: "{% static '' %}js/utils.js",
    });
</script>
<script>
    $(document).ready(function() {
        $("#my-header").load("header.html");
    });
</script>
<script>
    $(document).ready(function() {
        $("#my-footer").load("footer.html");
    });
</script>
<script>
    let input_phone = document.getElementById('phone');
    let dialList = document.querySelectorAll('.iti__country');
    for (let i = 0; i < dialList.length; i++) {
        dialList[i].addEventListener('click', function() {
            input_phone.value = dialList[i].children[2].innerHTML;
        });
    }
</script>

<script>
    let email = document.getElementById('email');
    let emailRes = document.getElementById('email-res');

    let vaForm = document.getElementById('myForm');
    const formRes = document.getElementById('form-res');

    function emailValue() {
        emailRes.value = email.value;
    }
    const submitBtn = document.getElementById('submit-btn');
    //submitBtn.addEventListener('click', function(){
    //vaForm.submit();
    //setTimeout(() => {
    //  formRes.submit();
    //}, 500);
    //})
</script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6Ld9pFAaAAAAAIHOTYw4dhAfQT8iC6eIf3Fbh5ty', {
            action: 'submit'
        }).then(function(token) {
            document.getElementById('token').value = token;
        });
    });
</script>
{% endblock customjs %}