{% extends 'base/bcs_admin_base.html' %}{% load hosts %} {% load static %} {% block title %} Orders {% endblock title %}
{% block headercss %}
<link rel="stylesheet" href="{% static 'tfcss/admin_panel/bcsTF/order.css' %}" /> {% endblock headercss %}
{% block content %}

<main>
    <h3>Order No 1528/757857</h3>
    <div class="order-info">
        <div class="container-fluid text-capitalize">
            <div class="row">
                <div class="col-md-12">
                    <h3>Order 1</h3>
                    <p>user: <span class="text-bold">User 1</span></p>
                    <p>order Date: <span class="text-bold">1/2/21</span></p>
                    <p>Status: <span class="text-bold">in progress</span></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <h4 class="mt-3 fw-bolder">Order Services</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sub Service 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sub Service 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sub Service 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sub Service 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %} {% block customjs %}
<script src="{% static 'tfjs/admin_panel/bcsTF/order.js' %}"></script>
{% endblock customjs %}