{% extends 'base/bcs_admin_base.html' %} {% load static %} {% load hosts %}

{% block title %} BCS Admin Services
{% endblock title %}

{% block headercss %}
    <link rel="stylesheet" href="{% static '' %}tfcss/admin_panel/bcsTF/service.css" />
{% endblock headercss %}
{% block content %}
    <!-- main section starts -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn border-1 addService float-end mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Service
                        <i class="bi bi-plus-circle-fill"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 15rem;">
                    <h2 class="text-capitalize my-4">service list</h2>
                    <table id="service-list" class="table display" style="width: 100%">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Service Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>
                                    <a href="{% host_url 'main_admin_event_detail' %}">Risk Assessment</a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing.... </td>
                                <td>
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                        <i class="icofont-edit text-primary rounded-circle activites-icon"></i>
                                    </button>
                                    <button class="btn trash">
                                        <i class="bi bi-trash-fill text-danger rounded-circle activites-icon"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>
                                    <a href="{% host_url 'main_admin_event_detail' %}">Incident Response</a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing.... </td>
                                <td>
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                        <i class="icofont-edit text-primary rounded-circle activites-icon"></i>
                                    </button>
                                    <button class="btn trash">
                                        <i class="bi bi-trash-fill text-danger rounded-circle activites-icon"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>
                                    <a href="{% host_url 'main_admin_event_detail' %}">Security Compliance</a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing.... </td>
                                <td>
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                        <i class="icofont-edit text-primary rounded-circle activites-icon"></i>
                                    </button>
                                    <button class="btn trash">
                                        <i class="bi bi-trash-fill text-danger rounded-circle activites-icon"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>
                                    <a href="{% host_url 'main_admin_event_detail' %}">SMB Solution</a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing.... </td>
                                <td>
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                        <i class="icofont-edit text-primary rounded-circle activites-icon"></i>
                                    </button>
                                    <button class="btn trash">
                                        <i class="bi bi-trash-fill text-danger rounded-circle activites-icon"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="col-auto mb-3">
                                <label for="serviceName">Service Name</label>
                                <input type="serviceName" class="form-control" id="serviceName"
                                    placeholder="Enter Service Name" />
                            </div>
                            <div class="col-auto mb-3">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-primary">
                                    Save and add another
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="col-auto mb-3">
                                <label for="serviceName">Service Name</label>
                                <input type="text" class="form-control" id="serviceName"
                                    placeholder="Enter Service Name" />
                            </div>
                            <div class="col-auto mb-3">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                            </div>
                            <div class="d-flex justify-content-between">
                                <!-- <button type="button" class="btn btn-primary">
                                    Save and add another
                                </button> -->
                                <button type="button" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main section ends -->
{% endblock content %}
{% block customjs %}
{% endblock customjs %}