{% extends 'base/bcs_admin_base.html' %} {% load static %}
{% load crispy_forms_tags %}
{% load hosts %}

{% block title %} BCS Admin Services
{% endblock title %}

{% block headercss %}
    <!-- data table css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" />
    <!-- tiny script -->
{#    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>#}
    <!-- custom css -->
    <link rel="stylesheet" href="{% static '' %}tfcss/admin_panel/bcsTF/service.css" />
{% endblock headercss %}
{% block content %}
    <!-- main section starts -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn border-1 form-close form-close-back float-start mb-4 d-none" >
                        <i class="bi bi-arrow-left-circle-fill"></i>
                        Go back to list
                    </button>
                    <button class="btn border-1 servicesBtn addService float-end mb-4" >
                        Add Sub Service
                        <i class="bi bi-plus-circle-fill"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 15rem; position: relative;">
                    <div class="modal-dialog modal-lg add-form d-none">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Add Sub Service</h4>
                                <button type="button" class="btn-close form-close"></button>
                            </div>
                            <div class="modal-body px-3">
                                <form action="" enctype="multipart/form-data" class="needs-validation" method="POST">
                                    {{ form.media }}
                                    {{ form|crispy }}
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-between">
                                        <!-- <button type="submit" class="btn d-none btn-primary previousBtn text-capitalize" id="save-short-service">
                                            previous
                                        </button> -->
                                        <button type="submit" class="btn btn-primary text-capitalize" id="save-short-service">
                                            save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-container">
                        <h2 class="float-start position-absolute serviceHeading">Sub Service List</h2>
                        <table id="sub-service-list" class="table display service">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Service Name</th>
                                    <th>Sub Service Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for subService in sub_services %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ subService.service.service_title }}</td>
                                    <td>{{ subService.title }}</td>
                                    <td>{{ subService.description }}</td>
                                    <td>
                                        <a href="{% host_url 'bcs_admin_sub_services_edit' id=subService.id %}" class="btn">
                                            <i class="icofont-edit text-primary rounded-circle activites-icon"></i>
                                            Edit
                                        </a>
                                        <a href="{% host_url 'bcs_admin_sub_services_delete' id=subService.id %}" class="btn trash">
                                            <i class="bi bi-trash-fill text-danger rounded-circle activites-icon"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

      <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body px-3">
                        <form action="" class="needs-validation" method="POST">
                            <div class="col-auto mb-3">
                                <label for="serviceName">Service Category</label>
                                <select class="form-select" name="serviceName" id="serviceName" required>
                                    <option selected disabled value="">Select a Service Category</option>
                                    <option value="active">Risk Assessment</option>
                                    <option value="deactive">Incident Response</option>
                                    <option value="canceled">Security Compliance</option>
                                    <option value="upcoming">SMB Solution</option>
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-auto mb-3">
                                <label for="serviceName">Service Icon</label>
                                <input type="file" name="icon" id="serviceIcon" class="form-control" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-auto mb-3">
                                <label for="subServiceName">Sub Service Title</label>
                                <input type="text" class="form-control" id="subServiceName"
                                    placeholder="Enter Sub Service Title" required />
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Subscription Based
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  One Time purchased
                                </label>
                              </div>
                            <div class="col-auto mb-3">
                                <label for="description">Short Description</label>
                                <textarea name="description" id="description" class="form-control short-textarea"
                                    cols="30" rows="10" required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-primary">
                                    Save and add another
                                </button>
                                <button class="btn btn-primary text-capitalize">
                                    save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
    </main>
    <!-- main section ends -->
{% endblock content %}
{% block customjs %}
    <script src="{% static 'tfjs/admin_panel/bcsTF/service.js' %}"></script>
    <script>
    document.getElementById('id_description').addEventListener('keydown',e=>{
         if (e.key == 'Enter' || e.which == '13') {
            e.preventDefault();
        }
    });
    let format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
    document.getElementById('id_title').addEventListener('keydown',e=>{
         if(format.test(e.key))
            e.preventDefault();

    });
    </script>
{% endblock customjs %}