{% extends 'base/pcs_user_base.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %} Redirect {% endblock title %} {% block content %}

<section class="mb-5 orders pb-5">
    <h4 class="pt-2 fw-bold border-bottom border-gray pb-14p">Choose where you want to go</h4>
    <div class="mt-5">&nbsp;</div>

    <div class="d-flex justify-content-md-center">
        <button data-bs-toggle="modal" data-bs-target="#joinExisting" class="btn btn-outline-navy me-3">Join an Existing Business</button>
        <button data-bs-toggle="modal" data-bs-target="#createNew" class="btn btn-outline-navy">Create a New Business</button>
    </div>

    <!-- Joining Modal -->
    <div class="modal fade" id="joinExisting" tabindex="-1" aria-labelledby="joinExistingLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinExistingLabel">Enter Your Business KEY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST">
                    <div class="modal-body">
                        <input type="text" placeholder="Enter the KEY" class="form-control" required>
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="join" class="btn btn-navy">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Creation Modal -->
    <div class="modal fade" id="createNew" tabindex="-1" aria-labelledby="createNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createNewLabel">Register a New Business</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        {{ form|crispy }}
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="new" class="btn btn-navy">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="my-5">&nbsp;</div>
</section>

{% endblock content %} {% block customjs %}
<script>
</script>
{% endblock customjs %}