{% extends 'base/pcs_user_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Redirect {% endblock title %}
{% block headercss %}
    <style>
    #id_phone_number_0 {
            width: 30%;
            border-radius: 0
        }

        #id_phone_number_1 {
            width: 70%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-left: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            top: 1px;
            position: relative;
            border-radius: 0 4px 4px 0
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 6px !important;

        }

        .select2-container--default .select2-selection--single {
            border-color: #d8dde2;
            border-radius: 4px 0 0 4px;
        }
        input, select, .select2-selection, .select2 {
            height: 40px !important
        }

        .select2-selection {
            display: flex !important;
            align-items: center !important
        }
    </style>
{% endblock %}
{% block content %}

<section class="mb-5 orders pb-5">
    <h4 class="pt-2 fw-bold border-bottom border-gray pb-14p">Choose where you want to go</h4>
    <div class="mt-5">&nbsp;</div>

    <div class="d-flex justify-content-md-center">
        <button data-bs-toggle="modal" data-bs-target="#joinExisting" class="btn btn-outline-navy me-3">Join an Existing Business</button>
        <button data-bs-toggle="modal" data-bs-target="#createNew" class="btn btn-outline-navy">Create a New Business</button>
    </div>

    <!-- Joining Modal -->
    <div class="modal fade" id="joinExisting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="joinExistingLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinExistingLabel">Enter Your Business KEY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST">
                    <div class="modal-body">
                        <input type="text" placeholder="Enter the KEY" class="form-control" required>
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="join" class="btn btn-navy">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Creation Modal -->
    <div class="modal fade" id="createNew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createNewLabel">Register a New Business</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        {{ form|crispy }}
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="new" class="btn btn-navy">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="my-5">&nbsp;</div>
</section>

{% endblock content %} {% block customjs %}

{#<script>#}
{#        $(document).ready(function () {#}
{#            $('.phoneprefixselect').select2();#}
{#        });#}
{#</script>#}
{% endblock customjs %}