{% extends 'base/pcs_user_base.html' %} {% load static %} {% block title %} Ticket View {% endblock title %} {% block headercss %}
 {% endblock headercss %} {% block content %}

<section class="px-3">
    <h5 class="fw-bold">TICKET 56692</h5>
    <h6 class="fw-bold"><span class="text-green">Submitted on:</span> 13/08/21 05:35PM</h6>

    <h6><span class="fw-bold">Title: </span>Penetration testing form not working</h6>

    <h6 class="mt-5 fw-bold">Description:</h6>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis ex accusamus rerum cum, facere corrupti quaerat unde provident cupiditate? Sunt maiores voluptas, sint minima amet et magnam! Quas quibusdam deleniti est nostrum nesciunt sapiente
        sint rem pariatur optio, hic tempora rerum temporibus at quidem provident nobis impedit reprehenderit, vel saepe. Nesciunt, quae qui aliquid inventore nostrum aperiam aspernatur culpa saepe corrupti repudiandae cumque id eius assumenda! Officia
        repudiandae rem ab voluptatem consequuntur numquam a repellat quisquam aperiam voluptatibus, quas modi reprehenderit enim harum perferendis, saepe voluptas deserunt pariatur libero! Culpa voluptates numquam adipisci id veniam deleniti. Molestias
        cum ipsam quia?</p>

    <div class="row">
        <h6 class="fw-bold mb-3">Attachment</h6>
        <img src="https://via.placeholder.com/150" alt="ticket" style="width: 250px; height: 150px">
    </div>


    <div class="conversation mt-5 border border-secondary p-3">
        <h6 class="fw-bold">Solution:</h6>
        <div class="d-flex shadow-sm bg-lightgreen p-2 mb-3">
            <img src="{% static '' %}tfimg/user_panel/anjelina.jpg" style="width: 40px;height: 40px;border-radius: 50%;object-fit: cover;" alt="">
            <div class="d-flex align-items-center ps-3">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis nostrum, consequatur nihil quisquam ratione eos! Quasi cum veniam et dolorum!</p>
            </div>
        </div>
        <div class="d-flex shadow-sm bg-lightgreen p-2 mb-3">
            <div class="d-flex align-items-center pe-3">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis nostrum, consequatur nihil quisquam ratione eos! Quasi cum veniam et dolorum!</p>
            </div>
            <img src="{% static '' %}tfimg/user_panel/anjelina.jpg" style="width: 40px;height: 40px;border-radius: 50%;object-fit: cover;" alt="">
        </div>
        <div class="d-flex shadow-sm bg-lightgreen p-2 mb-3">
            <img src="{% static '' %}tfimg/user_panel/anjelina.jpg" style="width: 40px;height: 40px;border-radius: 50%;object-fit: cover;" alt="">
            <div class="d-flex align-items-center ps-3">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis nostrum, consequatur nihil quisquam ratione eos! Quasi cum veniam et dolorum!</p>
            </div>
        </div>
    </div>

    <div class="reply-box mt-3">
        <h6 class="fw-bold">Recent Messages</h6>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>

</section>


{% endblock content %} {% block customjs %}

{% endblock customjs %}